/* RESET BÁSICO ANTES DE COMEÇAR*/
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/* MENU */
ul {
    position: fixed;
    top: 20px;
    right: 20px;
    display: flex;
    gap: 10px;
    list-style: none;
    z-index: 10;
}

ul li {
    padding: 8px 14px;
    border: 1px solid white;
    color: white;
    cursor: pointer;
    border-radius: 4px;
}

ul li:hover {
    background: rgba(255,255,255,0.2);
}

/* HERO / BANNER */
.hero {
    height: 50vh;
    background: url("bg-2.jpg") center/cover no-repeat;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
}

/* OVERLAY ESCURO */
.hero::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0,0,0,0.45);
}

.hero h1,
.hero p {
    position: relative;
    z-index: 1;
}

.hero h1 {
    font-size: 48px;
    margin-bottom: 15px;
}

.hero p {
    background: rgba(0,0,0,0.6);
    padding: 10px 15px;
    border-radius: 4px;
}

/* CONTEÚDO */
.conteudo {
    background: #d3d3d3;
    padding: 60px 20px;
}

/* CARDS */
.conteudo section {
    max-width: 900px;
    margin: 0 auto 30px auto;
    background: white;
    padding: 25px;
    border-radius: 6px;
    box-shadow: 0 6px 12px rgba(0,0,0,0.15);
    
}

.conteudo h2 {
    margin-bottom: 10px;
}

.conteudo p {
    margin-bottom: 10px;
    line-height: 1.5;
}

/* BOTÃO */
.conteudo a {
    display: inline-block;
    padding: 8px 14px;
    background: #333;
    color: white;
    text-decoration: none;
    border-radius: 4px;
}

.conteudo a:hover {
    background: #000;
}

/* FOOTER */
footer {
    background: #666;
    color: white;
    text-align: center;
    padding: 15px;
}

 
h2{
    background-color: #d0caca;
    border-radius: 6px;
    margin: 0 auto 30px auto;
    padding: 2px;
    
}




